# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
arry = np.random.rand(10)

In [3]:
arry

array([0.8552168 , 0.65858534, 0.03467505, 0.2923261 , 0.68680824,
       0.00522897, 0.25922619, 0.71850131, 0.00474844, 0.52246586])

3. Create a vector with values ranging from 10 to 49

In [4]:
arry1 = np.arange(10, 49)

In [5]:
arry1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

4. Find the shape of previous array in question 3

In [6]:
arry1.shape

(39,)

5. Print the type of the previous array in question 3

In [7]:
arry1.dtype

dtype('int32')

6. Print the dimension of the array in question 3

In [8]:
arry1.ndim

1

7. Create a boolean array with all the True values

In [9]:
arryb = np.arange(10)
arryb2 = np.arange(10)
arryb == arryb2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

8. Create a two dimensional array

In [10]:
arry2d = np.array([[0, 2, 3],[4, 5, 6]])

In [11]:
arry2d

array([[0, 2, 3],
       [4, 5, 6]])

9. Create a three dimensional array

In [12]:
arry3d = np.array([[[0, 2, 3],[4, 5, 6]],[[7, 8, 9],[10, 11, 12]]])

In [13]:
arry3d

array([[[ 0,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last) <br> hint: Read About Flip In Numpy

In [14]:
arry3d[::-1]

array([[[ 7,  8,  9],
        [10, 11, 12]],

       [[ 0,  2,  3],
        [ 4,  5,  6]]])

12. Create a null vector of size 10 but the fifth value which is 1

In [15]:
array3 = np.zeros(10)
array3[4] = 1

In [16]:
array3

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix (hint: Read About Identity Function Of Numpy)

In [17]:
array_2D = np.identity(3)

In [18]:
array_2D

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [32]:
arr = np.array([1, 2, 3, 4, 5]) 
arr = arr.astype(np.float32)

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [20]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr3 = arr1 * arr2

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array of maximum values by comparing both the arrays provided above

In [21]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
np.maximum(arr1, arr2)

array([[ 1.,  4.,  3.],
       [ 7.,  5., 12.]])

17. Extract all odd numbers from arr with values(0-9)

In [22]:
arr_o = np.arange(9)
arr_o [arr_o % 2 == 1]

array([1, 3, 5, 7])

18. Replace all odd numbers to -1 from previous array (hint: Read About Numpy Where Function)

In [23]:
arr_o = np.arange(9)
arr_c = arr_o [arr_o % 2 == 1]
arr_c[:] = -1

In [24]:
arr_c

array([-1, -1, -1, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [25]:
arr = np.arange(10)
arr[5:9] = 12

20. Create a 2d array with 1 on the border and 0 inside

In [26]:
arr = np.ones((10,10))
arr[1:-1,1:-1] = 0
print(arr)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [48]:
arr2ds = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2ds[1,1] = 12

In [49]:
arr2ds

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [50]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0] = 64

In [51]:
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [55]:
arr = np.arange(9).reshape(3,3)
arr_te = arr[0]

In [53]:
arr_te

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [56]:
arr = np.arange(9).reshape(3,3)
arr_tem = arr[1]

In [57]:
arr_tem

array([3, 4, 5])

25. Create a 10x10 array with random values and find the minimum and maximum values

In [74]:
arrm = np.random.rand(10,10)

In [76]:
print('Maximum', arrm.max())
print('Minimum', arrm.min())

Maximum 0.9976414133444016
Minimum 9.688563756704571e-05

26. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [77]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])

print(np.intersect1d(a, b))

[2 4]

27.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [78]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)

data[names != "Will"]

array([[-0.14690122, -1.64561618, -0.57974456,  0.48189938],
       [-0.71830676, -1.24858278, -0.18215111,  2.05780081],
       [ 0.81820999,  0.24391371, -1.21574265, -1.13818652],
       [-0.75828611, -0.1820572 ,  0.78553992,  0.23487138],
       [-0.437145  , -0.50407557, -0.20970361, -0.25873842]])

28. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [79]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names != "Joe"]
data[names != "Will"]

array([[ 2.31722512,  0.20570465, -0.97790268,  1.6181297 ],
       [ 0.16240029, -1.2178632 ,  0.01580779,  1.03448774],
       [-0.0387075 ,  1.49996606,  0.84233266,  0.22079397],
       [-0.26235792,  0.44764036,  1.85186539, -0.07374887],
       [ 0.67391409, -2.77152316,  1.99962908,  1.77230482]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [ ]:
arry2 = np.arange(15).reshape(5, 3)

In [ ]:
arry2

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [ ]:
arry3 = np.arange(16).reshape(2,2,4)

In [ ]:
arry3

33. Swap axes of the array you created in Question 32

In [ ]:
arry3.swapaxes(1,2)

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [ ]:
arrys = np.arange(10)
t_arr = np.sqrt(arrys) 
t_arr < 0.5 = 0

In [ ]:

arrys

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [33]:
arr20 = np.random.rand(12)
arr21 = np.random.rand(12)
np.maximum(arr20, arr21)

array([0.54858776, 0.70654098, 0.27845171, 0.42165225, 0.78857572,
       0.88784078, 0.55359332, 0.59498404, 0.84764784, 0.54031897,
       0.64796455, 0.99718095])

In [29]:
arr20

array([0.8586673 , 0.55424982, 0.07007932, 0.26044111, 0.29802508,
       0.06881708, 0.65130677, 0.6581276 , 0.50036551, 0.08687633,
       0.02277356, 0.09807533])

In [30]:
arr21

array([0.96262358, 0.86102352, 0.05914179, 0.32119728, 0.37373796,
       0.61400085, 0.83210045, 0.04779735, 0.83775181, 0.4729019 ,
       0.17608026, 0.23441961])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
names1 = np.array(['Bobs', 'Joes', 'Will', 'Bob', 'Wills', 'Joes', 'Joe'])
np.union1d(names, names1)

38. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [36]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

39. Generate a matrix of 20 random values and find its cumulative sum

In [ ]:
arr3d = np.arange(2,10)
arr2d = np.cumsum(arr3d)

In [ ]:
arr2d