In [26]:
import pandas as pd
import numpy as np

In [3]:
obj = pd.Series([1,2,3,4])

In [4]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
obj_df = pd.DataFrame([[7,7,7,7],[8,8,8,8],[5,5,5,5],[9,9,9,9]])

In [7]:
obj_df

   0  1  2  3
0  7  7  7  7
1  8  8  8  8
2  5  5  5  5
3  9  9  9  9

In [8]:
obj[0]

1

In [9]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [10]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj = pd.Series([1,2,3,4], index=['f1','f2','f3','f4'])

In [12]:
obj

f1    1
f2    2
f3    3
f4    4
dtype: int64

In [13]:
obj.index

Index(['f1', 'f2', 'f3', 'f4'], dtype='object')

In [14]:
obj['f1']

1

In [17]:
obj['f4':'f1':-1]

f4    4
f3    3
f2    2
f1    1
dtype: int64

In [20]:
obj[['f1','f3']]

f1    1
f3    3
dtype: int64

In [21]:
obj[obj > 2]

f3    3
f4    4
dtype: int64

In [22]:
obj[obj == 2]

f2    2
dtype: int64

In [24]:
obj * 2

f1    2
f2    4
f3    6
f4    8
dtype: int64

In [27]:
np.exp(obj)

f1     2.718282
f2     7.389056
f3    20.085537
f4    54.598150
dtype: float64

In [30]:
'f2' in obj

True

In [35]:
obj['f2']

2

In [39]:
obj['f1'] = 1

In [40]:
obj

f1    1
f2    2
f3    3
f4    4
dtype: int64

In [41]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [42]:
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [43]:
obj3 = pd.Series(sdata)

In [44]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [46]:
'Texas' in obj3

True

In [47]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)

In [48]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [49]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [50]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [55]:
obj5 = obj3+obj4

In [56]:
obj5

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [63]:
obj4.indexname = 'state'

In [64]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [65]:
'state'

'state'

In [66]:
obj4.indexname

'state'