In [ ]:
with open('Test.txt', 'w') as file:
    file.write('Firsttextfile.txt')

In [12]:
with open('test.txt', 'w') as file:
    file.write('I am Rapheal \n I am a student of class 8 \n i am 13 year old' )

In [13]:
with open('test.txt',  'r') as file2:
    test_data = file2.read()

In [15]:
print(test_data)

I am Rapheal
 I am a student of class 8
 i am 13 year old

In [18]:
with open('test.txt', 'w') as file2:
    file2.write('new data')

In [19]:
with open('test.txt', 'a') as file2:
    file2.write('new line')

In [53]:
c_data = {}

In [56]:
stopper = ''
while stopper != 'a':
    stopper = input(' To create a new character data press 1 \n To exit press a \n')
    if stopper == '1':
        with open('School.txt', 'a') as file:
            c_data['name'] = input('Enter character name: ').title()
            c_data['age'] = input('Enter character age: ').title()      
            c_data['class'] = input('Enter character class: ').title()
            file.write('\nName : ' + c_data['name'])
            file.write('\nage : ' + c_data['age'])
            file.write('\nclass : ' + c_data['class'])

 To create a new character data press 1
 To exit press a
1
Enter character name: Anael
Enter character age: 11
Enter character class: 7
 To create a new character data press 1
 To exit press a
a\
 To create a new character data press 1
 To exit press a
a