In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('SampleData.xlsx')

In [3]:
data

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2019-01-06     East     Jones   Pencil     95       1.99   189.05
1  2019-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2019-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2019-02-26  Central      Gill      Pen     27      19.99   539.73
4  2019-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2019-04-01     East     Jones   Binder     60       4.99   299.40
6  2019-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2019-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2019-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2019-06-08     East     Jones   Binder     60       8.99   539.40
10 2019-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2019-07-12     East    Howard   Binder     29       1.99    57.71
12 2019-07-29     East    Parent   Binder     81      19.99  1619.19
13 2019-08-15     East     Jones   Pencil     35       4.99   174.65
14 2019-09-01  Central     Smith     Desk      2     125.00   250.00
15 2019-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2019-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2019-10-22     East     Jones      Pen     64       8.99   575.36
18 2019-11-08     East    Parent      Pen     15      19.99   299.85
19 2019-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2019-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2019-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2020-01-15  Central      Gill   Binder     46       8.99   413.54
23 2020-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2020-02-18     East     Jones   Binder      4       4.99    19.96
25 2020-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2020-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2020-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2020-04-27     East    Howard      Pen     96       4.99   479.04
29 2020-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2020-05-31  Central      Gill   Binder     80       8.99   719.20
31 2020-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2020-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2020-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2020-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2020-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2020-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2020-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2020-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2020-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2020-12-21  Central   Andrews   Binder     28       4.99   139.72

In [4]:
data.head(10)

   OrderDate   Region       Rep    Item  Units  Unit Cost   Total
0 2019-01-06     East     Jones  Pencil     95       1.99  189.05
1 2019-01-23  Central    Kivell  Binder     50      19.99  999.50
2 2019-02-09  Central   Jardine  Pencil     36       4.99  179.64
3 2019-02-26  Central      Gill     Pen     27      19.99  539.73
4 2019-03-15     West   Sorvino  Pencil     56       2.99  167.44
5 2019-04-01     East     Jones  Binder     60       4.99  299.40
6 2019-04-18  Central   Andrews  Pencil     75       1.99  149.25
7 2019-05-05  Central   Jardine  Pencil     90       4.99  449.10
8 2019-05-22     West  Thompson  Pencil     32       1.99   63.68
9 2019-06-08     East     Jones  Binder     60       8.99  539.40

In [5]:
data.tail(10)

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
33 2020-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2020-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2020-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2020-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2020-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2020-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2020-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2020-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2020-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2020-12-21  Central   Andrews   Binder     28       4.99   139.72

In [6]:
data.index

RangeIndex(start=0, stop=43, step=1)

In [7]:
data.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Cost', 'Total'], dtype='object')

In [8]:
data["Region"]

0        East
1     Central
2     Central
3     Central
4        West
5        East
6     Central
7     Central
8        West
9        East
10    Central
11       East
12       East
13       East
14    Central
15       East
16    Central
17       East
18       East
19    Central
20    Central
21       East
22    Central
23    Central
24       East
25       West
26    Central
27    Central
28       East
29    Central
30    Central
31    Central
32       East
33    Central
34    Central
35       West
36    Central
37       West
38       West
39    Central
40    Central
41    Central
42    Central
Name: Region, dtype: object

In [9]:
d_r = data['Region']

In [10]:
d_OB = data['OrderDate']

In [11]:
d_re = data['Rep']

In [12]:
d_I = data['Item']

In [13]:
d_UC = data['Unit Cost']

In [14]:
d_T = data['Total']

In [15]:
d_r

0        East
1     Central
2     Central
3     Central
4        West
5        East
6     Central
7     Central
8        West
9        East
10    Central
11       East
12       East
13       East
14    Central
15       East
16    Central
17       East
18       East
19    Central
20    Central
21       East
22    Central
23    Central
24       East
25       West
26    Central
27    Central
28       East
29    Central
30    Central
31    Central
32       East
33    Central
34    Central
35       West
36    Central
37       West
38       West
39    Central
40    Central
41    Central
42    Central
Name: Region, dtype: object

In [16]:
d_OB

0    2019-01-06
1    2019-01-23
2    2019-02-09
3    2019-02-26
4    2019-03-15
5    2019-04-01
6    2019-04-18
7    2019-05-05
8    2019-05-22
9    2019-06-08
10   2019-06-25
11   2019-07-12
12   2019-07-29
13   2019-08-15
14   2019-09-01
15   2019-09-18
16   2019-10-05
17   2019-10-22
18   2019-11-08
19   2019-11-25
20   2019-12-12
21   2019-12-29
22   2020-01-15
23   2020-02-01
24   2020-02-18
25   2020-03-07
26   2020-03-24
27   2020-04-10
28   2020-04-27
29   2020-05-14
30   2020-05-31
31   2020-06-17
32   2020-07-04
33   2020-07-21
34   2020-08-07
35   2020-08-24
36   2020-09-10
37   2020-09-27
38   2020-10-14
39   2020-10-31
40   2020-11-17
41   2020-12-04
42   2020-12-21
Name: OrderDate, dtype: datetime64[ns]

In [17]:
d_re

0        Jones
1       Kivell
2      Jardine
3         Gill
4      Sorvino
5        Jones
6      Andrews
7      Jardine
8     Thompson
9        Jones
10      Morgan
11      Howard
12      Parent
13       Jones
14       Smith
15       Jones
16      Morgan
17       Jones
18      Parent
19      Kivell
20       Smith
21      Parent
22        Gill
23       Smith
24       Jones
25     Sorvino
26     Jardine
27     Andrews
28      Howard
29        Gill
30        Gill
31      Kivell
32       Jones
33      Morgan
34      Kivell
35     Sorvino
36        Gill
37     Sorvino
38    Thompson
39     Andrews
40     Jardine
41     Jardine
42     Andrews
Name: Rep, dtype: object

In [18]:
d_I

0      Pencil
1      Binder
2      Pencil
3         Pen
4      Pencil
5      Binder
6      Pencil
7      Pencil
8      Pencil
9      Binder
10     Pencil
11     Binder
12     Binder
13     Pencil
14       Desk
15    Pen Set
16     Binder
17        Pen
18        Pen
19    Pen Set
20     Pencil
21    Pen Set
22     Binder
23     Binder
24     Binder
25     Binder
26    Pen Set
27     Pencil
28        Pen
29     Pencil
30     Binder
31       Desk
32    Pen Set
33    Pen Set
34    Pen Set
35       Desk
36     Pencil
37        Pen
38     Binder
39     Pencil
40     Binder
41     Binder
42     Binder
Name: Item, dtype: object

In [19]:
d_UC

0       1.99
1      19.99
2       4.99
3      19.99
4       2.99
5       4.99
6       1.99
7       4.99
8       1.99
9       8.99
10      4.99
11      1.99
12     19.99
13      4.99
14    125.00
15     15.99
16      8.99
17      8.99
18     19.99
19      4.99
20      1.29
21     15.99
22      8.99
23     15.00
24      4.99
25     19.99
26      4.99
27      1.99
28      4.99
29      1.29
30      8.99
31    125.00
32      4.99
33     12.49
34     23.95
35    275.00
36      1.29
37      1.99
38     19.99
39      1.29
40      4.99
41     19.99
42      4.99
Name: Unit Cost, dtype: float64

In [20]:
d_T

0      189.05
1      999.50
2      179.64
3      539.73
4      167.44
5      299.40
6      149.25
7      449.10
8       63.68
9      539.40
10     449.10
11      57.71
12    1619.19
13     174.65
14     250.00
15     255.84
16     251.72
17     575.36
18     299.85
19     479.04
20      86.43
21    1183.26
22     413.54
23    1305.00
24      19.96
25     139.93
26     249.50
27     131.34
28     479.04
29      68.37
30     719.20
31     625.00
32     309.38
33     686.95
34    1005.90
35     825.00
36       9.03
37     151.24
38    1139.43
39      18.06
40      54.89
41    1879.06
42     139.72
Name: Total, dtype: float64

In [21]:
type(d_T
    )

pandas.core.series.Series

In [22]:
t_data = data[data['Region'] == 'East']

In [23]:
t_data

    OrderDate Region     Rep     Item  Units  Unit Cost    Total
0  2019-01-06   East   Jones   Pencil     95       1.99   189.05
5  2019-04-01   East   Jones   Binder     60       4.99   299.40
9  2019-06-08   East   Jones   Binder     60       8.99   539.40
11 2019-07-12   East  Howard   Binder     29       1.99    57.71
12 2019-07-29   East  Parent   Binder     81      19.99  1619.19
13 2019-08-15   East   Jones   Pencil     35       4.99   174.65
15 2019-09-18   East   Jones  Pen Set     16      15.99   255.84
17 2019-10-22   East   Jones      Pen     64       8.99   575.36
18 2019-11-08   East  Parent      Pen     15      19.99   299.85
21 2019-12-29   East  Parent  Pen Set     74      15.99  1183.26
24 2020-02-18   East   Jones   Binder      4       4.99    19.96
28 2020-04-27   East  Howard      Pen     96       4.99   479.04
32 2020-07-04   East   Jones  Pen Set     62       4.99   309.38

In [24]:
t_data = data[data['Region'] == 'East']

In [25]:
t_data_west = data[data['Region'] == 'West']

In [26]:
t_data_ = data[data['Region'] == 'Central']

In [32]:
t_data.to_excel('EAST.xlsx')

In [28]:
t_data_west

    OrderDate Region       Rep    Item  Units  Unit Cost    Total
4  2019-03-15   West   Sorvino  Pencil     56       2.99   167.44
8  2019-05-22   West  Thompson  Pencil     32       1.99    63.68
25 2020-03-07   West   Sorvino  Binder      7      19.99   139.93
35 2020-08-24   West   Sorvino    Desk      3     275.00   825.00
37 2020-09-27   West   Sorvino     Pen     76       1.99   151.24
38 2020-10-14   West  Thompson  Binder     57      19.99  1139.43

In [29]:
t_data_

    OrderDate   Region      Rep     Item  Units  Unit Cost    Total
1  2019-01-23  Central   Kivell   Binder     50      19.99   999.50
2  2019-02-09  Central  Jardine   Pencil     36       4.99   179.64
3  2019-02-26  Central     Gill      Pen     27      19.99   539.73
6  2019-04-18  Central  Andrews   Pencil     75       1.99   149.25
7  2019-05-05  Central  Jardine   Pencil     90       4.99   449.10
10 2019-06-25  Central   Morgan   Pencil     90       4.99   449.10
14 2019-09-01  Central    Smith     Desk      2     125.00   250.00
16 2019-10-05  Central   Morgan   Binder     28       8.99   251.72
19 2019-11-25  Central   Kivell  Pen Set     96       4.99   479.04
20 2019-12-12  Central    Smith   Pencil     67       1.29    86.43
22 2020-01-15  Central     Gill   Binder     46       8.99   413.54
23 2020-02-01  Central    Smith   Binder     87      15.00  1305.00
26 2020-03-24  Central  Jardine  Pen Set     50       4.99   249.50
27 2020-04-10  Central  Andrews   Pencil     66       1.99   131.34
29 2020-05-14  Central     Gill   Pencil     53       1.29    68.37
30 2020-05-31  Central     Gill   Binder     80       8.99   719.20
31 2020-06-17  Central   Kivell     Desk      5     125.00   625.00
33 2020-07-21  Central   Morgan  Pen Set     55      12.49   686.95
34 2020-08-07  Central   Kivell  Pen Set     42      23.95  1005.90
36 2020-09-10  Central     Gill   Pencil      7       1.29     9.03
39 2020-10-31  Central  Andrews   Pencil     14       1.29    18.06
40 2020-11-17  Central  Jardine   Binder     11       4.99    54.89
41 2020-12-04  Central  Jardine   Binder     94      19.99  1879.06
42 2020-12-21  Central  Andrews   Binder     28       4.99   139.72

In [40]:
items = data['Item'].unique()

In [42]:
for i in items:
    d_var = data[data['Item'] == i]
    d_var.to_excel(i+'_data.xlsx')