# Q1 ) 
Write an if statement that asks for the user's name via input() function. If the name is "Bond" make it print "Welcome on board 007." Otherwise make it print "Good morning NAME". (Replace Name with user's name)

In [ ]:
username = input("What is your name? ")
if username == "Bond":
  print("Welcome on board 007")
else:
  print("Good Morning", username)

What is your name? Bond
Welcome on board 007

# Q2 )
Print the following pattern <br>
1 <br>
1 2 <br>
1 2 3 <br>
1 2 3 4 <br>
1 2 3 4 5 <br>

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

# Q3)
Accept number from user and calculate the sum of all number from 1 to a given number <br>
For example, if user entered 10 the output should be 55.

In [ ]:
num = int(input("Enter number"))
num_value = 0
for i in range(1, num + 1):
    num_value = num_value + i
print(num_value)

Enter number2
3

# Q4) 
Print multiplication table of a given number <br>
For example, num = 2 so the output should be <br>


2
4
6
8
10
12
14
16
18
20

In [ ]:
num = int(input("Enter a number of which you need the table"))
l_num = int(input("Till which number do you want the table"))
i = 0
for i in range(l_num): 
  print(num * (i+1))

Enter a number of which you need the table2
Till which number do you want the table10
2
4
6
8
10
12
14
16
18
20

# Q5) 
Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.  <br>
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if i > 150:
        break
    remainder=i % 5
    if remainder==0:
        print(i)

# Q6)
Given a number count the total number of digits in a number <br>
For example, the number is 75869, so the output should be 5.

In [ ]:
num = input("Tell the number: ")
print(len(num))

Tell the number: 478232
6

# Q7) 
Reverse print the following list using for loop <br>
list1 = [10, 20, 30, 40, 50]

In [ ]:

for i in range(49,0,-10):
  print (i+1)

50
40
30
20
10

# Q8)
 Reverse a given integer number <br>
Given:<br>

76542<br>

Expected output:<br>

24567<br>

In [ ]:
num = input("Enter the number you want to reverse print: ")
num1 = int(num)
for i in range (len(num)):
    remainder=num1%10
    num1=round(num1/10)
    print (remainder,end="")

Enter the number you want to reverse print: 322131
131223

Q9) 
Display the cube of the number up to a given integer

In [ ]:
num = int(input("Enter the number "))
print(num * num * num)

Enter the number 4
64

# Q10)
Take two int values from user and print greatest among them.

In [ ]:
num1 = int(input("Enter the first number "))
num2 = int(input("Enter the first number "))
if num1 < num2:
  print (num2, "is greater")
else:
  print(num1, "is greater")

Enter the first number5
Enter the first number4
5 is greater